<!--
 * @Descripttion: 
 * @Date: 2021-06-04 17:38:46
 * @LastEditTime: 2021-06-07 11:21:00
 * @LastEditors: kiki
 * @Author: Kiki
-->
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>http://tyy.com/wp-admin/post.php?post=2760&action=edit#
</head>
<body>
    <h1><%= title %></h1>
    <p>EJS Welcome to <%= title %></p>
</body>
</html>